/* stylesheet for odin-etch-a-sketch */

body {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.box {
    flex: 1;
    margin: 1px; 
}

#container {
    width: 480px;
    height: 480px;
    border: solid;
    display: flex;
    flex-direction: column;  
}

.flexRow {
    width: auto;
    flex: 1;
    display: flex;  
}

#header {
    justify-content: center;
}