/* stylesheet for odin-etch-a-sketch */

.box {
    flex: 1;   
}

#container {
    width: 480px;
    height: 480px;
    border: solid;
    display: flex;
    flex-direction: column;  
}

.flexRow {
    width: auto;
    flex: 1;
    display: flex;  
}